<table class="table">
    <thead>
    <tr style="border: none;">
        <th scope="col">Subtotal</th>
        <th colspan="3"></th>
        <th scope="col">$ {{ precioTotal }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Total</th>
        <td colspan="3"></td>
        <td>$ {{ precioTotal }}</td>
    </tr>
    </tbody>
    
</table>
<button type="submit" class="btn btn-warning" [disabled]="productosCarrito.length === 0" (click)="vaciarCarrito()">Vaciar carrito</button>
<button type="submit" class="btn btn-info" (click)="seguirComprando()">Seguir Comprando</button>
<button type="submit" class="btn btn-danger" [disabled]="productosCarrito.length === 0" (click)="finalizarCompra()">Finalizar Compra</button>
<button type="submit" class="btn btn-success" [disabled]="!pedido.ok">Ir a pagar</button>