<form (submit)="actualizarEnvio()">
    <div class="mb-3">
      <label for="direccion" class="form-label">Forma de entrega</label>
      <select name="direccion" class="form-control" [(ngModel)]="seleccion">
        <option value="0" selected disabled>Elegir opcion de envio...</option>
        <option value="{{sucursal.id}}" *ngFor="let sucursal of sucursales" [ngValue]="sucursal">
          {{sucursal.nombre + " " + sucursal.direccion}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-info">Actualizar</button>
    <span class="ms-3" *ngIf="(!pedido)" style="color: red;">
      Por favor completar campos
    </span>
</form>